<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Titel}}</title>
    <link rel="stylesheet" href="https://static.webprogrammierung.org/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://static.webprogrammierung.org/js/leaflet/leaflet.css" />
    <script src="https://static.webprogrammierung.org/js/leaflet/leaflet.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<center><h1>{{ .Titel}}</h1></center>
<center><p>{{ .Inhalt}}</p></center>
<center><div id="map" style="width: 800px;height: 500px"></div></center>
<script>
    var map = L.map('map').setView([53.67100, 10.23609], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


</script>
<center><a href="https://webprogrammierung.org/Impressum.html">Impressum</a> - <a href="https://webprogrammierung.org/Datenschutzerkl%C3%A4rung.html">Datenschutzerklärung</a></center>
</body>
</html>