[Unit]
Description=Server

[Service]
WorkingDirectory=/Server/go/src/github.com/thorstenkloehn/Server
ExecStart=/Server/go/src/github.com/thorstenkloehn/Server/Server
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=Thorsten Klöhn Server
User=root
[Install]
WantedBy=multi-user.target